[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
djangorestframework = "*"
djoser = "*"
drf-nested-routers = "*"
channels = {extras = ["daphne"], version = "*"}
django-cors-headers = "*"
pillow = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
channels-redis = "*"
gunicorn = "*"
mysqlclient = "*"
python-dotenv = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-cloudinary-storage = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.11"
